<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050447714363-0k0cda2tdtqo04bk0elodjefv9b6akqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050447714363-0k0cda2tdtqo04bk0elodjefv9b6akqr</string>
	<key>API_KEY</key>
	<string>AIzaSyDLwOawGjP8sqCPcqG_wu91veNv0QBdEDo</string>
	<key>GCM_SENDER_ID</key>
	<string>1050447714363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ajoke.moodtracker</string>
	<key>PROJECT_ID</key>
	<string>moodtracker-453216</string>
	<key>STORAGE_BUCKET</key>
	<string>moodtracker-453216.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050447714363:ios:bdde81240ebd3e5858641e</string>
</dict>
</plist>